/* StreamingPlatforms.css */
.streaming-container {
    text-align: center;
    padding: 20px;
    padding-top: 150px; /* Adjust based on your navbar height */
    min-height: 100vh;

  }
  
  h2 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .platforms-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .platform-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 180px;
    transition: box-shadow 0.3s ease;
  }
  
  .platform-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .platform-logo {
    width: 100px;
    margin-bottom: 15px;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .platforms-list {
      flex-direction: column;
      align-items: center;
    }
  }
  